/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: black;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	font-family: 'Times New Roman', serif; 
	color: white;
}
.header {
	background-color: #FF6700;
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	color: white;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
	font-family: "Manrope", sans-serif;
}
.img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .img {
 	float: none;
 }
 .footer p {
 	background-color: indianred;
 }
 .list {
 	border: 2px solid darkgray;
 	padding-left: 10px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}
 